@import url(https://fonts.googleapis.com/css?family=Vibur);
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Neon sign styles */
.neon-logo {
  font-family: "Vibur", cursive;
  font-size: 9vh;
  font-weight: 100;
  color: #fee;
  text-shadow:
    0 -40px 100px,
    0 0 2px,
    0 0 1em #ff4444,
    0 0 0.5em #ff4444,
    0 0 0.1em #ff4444,
    0 10px 3px #000;
}

.neon-logo span {
  animation: blink linear infinite 2s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
